# An example file of .env
# Copy this file to `.env` in this directory
# before building the dev container

# the UID of your Linux account invoking `docker compose` command
COMPOSE_USER_ID=1000
# the GID of the account above
COMPOSE_GROUP_ID=1000
POSTGRES_USER=
# the password of the database owner user
POSTGRES_PASSWORD=
